{% extends 'base.html' %}


{% block title %}
   Registrar Empleado 
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}    

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar Empleado</h1>
        <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="cell medium-6">
                <label>Nombres:
                  {{ form.first_name }}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Apellidos:
                  {{ form.last_name }}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Trabajo:
                  {{ form.job }}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Area:
                  {{ form.departameto }}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Avatar:
                  {{ form.avatar }}
                </label>
            </div>
            <div class="cell medium-12">
                <label>Habilidades:
                  {{ form.habilidades }}
                </label>
            </div>
            <div class="cell medium-12">
              <label>Hoja de Vida:
                {{ form.hoja_vida }}
              </label>
            </div>
            <div class="cell medium-12">
              <button type="submit" class="button success">Guaradar</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
    

<h1>Registrar Persona</h1>
<!--
<input type="text" placeholder="nombres">
<input type="text" placeholder="apellidos">
-->

<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Agregar</button>
</form>

